/* AdminDashboard.js */
.Admin{
    font-family: Arial, sans-serif;
    margin: 20px;
    color: var(--color-font-color-variant);
}

.Admin > h1{
    text-align: center;
}

/* UserList.js */
.UserList {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px auto;
    background-color: #f8f8f8;
    max-width: 600px;

}

.UserList h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.UserList ul {
    list-style-type: none;
    padding: 0;
}

