.update-password {
    margin: 40px auto;
    padding: 0px 20px;
    max-width: 500px;
}

.update-password h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

.update-password form {
    margin-bottom: 16px;
}

.update-password .form-group {
    margin-bottom: 16px;
}

.update-password label {
    font-size: 16px;
}

.update-password input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.update-password button {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.update-password button:hover {
    background-color: #eee;
}

.update-password button:active {
    background-color: #ddd;
}