/* Add this to your CSS file */
.UserItem {
    /* border: 1px solid #ccc; */
    border: 1px solid var(--color-bg-variant);
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;

}

.UserItem .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.UserItem .profile-image {
    max-width: 100px;
    border-radius: 50%;
    margin-right: 10px;
}


.UserItem .edit-user-details label {
    display: block;
    margin-bottom: 5px;
}

.UserItem .edit-user-details input,
.UserItem .edit-user-details select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    /* border: 1px solid var(--color-bg-variant); */
}

.UserItem .edit-user-details button {
    padding: 8px 16px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
}

.UserItem .edit-user-details button:hover {
    background-color: #0056b3;
}

.UserItem .user-details strong {
    font-size: 1.2em;
    margin-right: 10px;
}

.UserItem .user-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.UserItem .user-actions button {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    /* background-color: #007bff; */
    background-color: var(--color-bg);
    color: #fff;
    border: none;
}

.UserItem .user-actions button:disabled {
    background-color: #ccc;
    /* background-color: var(--color-bg-variant); */
}

.UserItem .user-actions button:hover {
    /* background-color: #0056b3; */
    background-color: var(--color-bg-2);
}